/* Niraj Patil - Color Guide
-------------------------------------------------------- */

/* Foundation */

$white: #ffffff;
$black: #000000;

$text: #707070;
$background: #ffffff;
$linkedin: #1783bc;
$gray-light: #dbdbdb;

/* Issues App */

$issues-background: #fdfde2;
$issues-copy: #1b7b60;

/* Redbox Tickets */

$redbox-background: #91f7f1;
$redbox-copy: #1a9c99;

/* Man Made It */

$manmadeit-background: #ddc09e;
$manmadeit-stars: #efd4b9;
$manmadeit-copy: #282220;

/* Sparkart */

$universe: #ffce00;