/* Niraj Patil - Color Guide
-------------------------------------------------------- */

$white: #ffffff;
$black: #000000;

$text: #707070;
$background: #ffffff;
$gray-light: #dbdbdb;

/* Navigation
-------------------------------------------------------- */

$cyan: #00deff;
$magenta: #ff0084;
$yellow: #ffe400;

/* Issues App
-------------------------------------------------------- */

$library: #fdfde2;
$library-text: #1b7b60;

/* Home
-------------------------------------------------------- */

$background: #e1e1e1;
$linkedin: #1783bc;

/* Man Made It
-------------------------------------------------------- */

$sky: #282220;
$star: #2b5466;
$water: #c6aa81;

/* Redbox Tickets
-------------------------------------------------------- */

$floor: #91f7f1;
$floor-text: #1a9c99;

/* Sparkart
-------------------------------------------------------- */

$universe: #ffce00;

/* Books */
$violet: #5856c1;
$indigo: #844063;
$blue: #1d84ff;
$green: #36bf46;
$yellow: #e0d620;
$orange: #e09220;
$red: #e05220;

/* Tremor Low
-------------------------------------------------------- */

$ocean: #27363f;
$ocean-sand: #ebcec2;
$ocean-text: #00a499;
