/* Niraj - Colors
----------------------------------------------------------------------------- */
/* Importing Awesome Mixins
----------------------------------------------------------------------------- */
/* Niraj - Mixins
--------------------------------------- */
/* Grid */
/* Images */
/* Reset */
/* Background Transition */
/* Fade Out Transition */
/* Clearfix */
/* Breakpoints */
/* Typography */
.quote {
  font-size: 0.9em;
  line-height: 1.3em;
  font-weight: normal; }

.navigation {
  font-size: 0.9em;
  line-height: 1.3em; }

.aside {
  font-size: 0.8em;
  line-height: 1.2em; }

.intro > p {
  font-size: 1.125em;
  line-height: 1.685em;
  text-align: left;
  margin: 0 0 1.5em 0;
  padding: 0; }
  .intro > p:last-child {
    margin-bottom: 6em; }
  @media only screen and (min-width: 320px) and (max-width: 460px) {
    .intro > p {
      font-size: 1em;
      line-height: 1.5em; }
      .intro > p:last-child {
        margin-bottom: 3em; } }

/* Variables
----------------------------------------------------------------------------- */
/* Layout */
/* Links */
/* Actions */
/* Header */
/* Footer */
