/* Niraj - Grid 
--------------------------------------------------------------- */
#grid {
  width: 950px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -475px;
  z-index: 100; }

/* Vertical grid lines */
#grid div.vert {
  width: 50px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-right: 10px; }

#grid div.vert.first-line {
  margin-left: 0; }

#grid div.vert:last-child {
  margin-right: 0; }

#grid div.horiz {
  height: 24px;
  border-bottom: 1px dotted darkgray;
  margin: 0;
  padding: 0; }

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids 
* option in the hashgrid.js file.
*/
#grid.grid-1 div.vert {
  /* Vertical grid line colour for grid 1 */
  border-color: darkturquoise; }

#grid.grid-2 {
  /* Adjustments */
  padding: 0 160px;
  width: 660px; }

#grid.grid-2 div.vert {
  /* Vertical grid line colour for grid 2 */
  border-color: crimson; }
