/* Niraj Patil - Home - Layout
-------------------------------------------------------- */
/* Niraj Patil - Mixins
-------------------------------------------------------- */
/* Retina Image-Ready Mixin 
-------------------------------------------------------- */
/* Clearfix
-------------------------------------------------------- */
/* Niraj Patil - Color Guide
-------------------------------------------------------- */
/* Foundation */
/* Issues App */
/* TRNIO App */
/* Redbox Tickets */
/* Man Made It */
/* Sparkart */
/* Niraj Patil - Fanciness
-------------------------------------------------------- */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

/* Logo
-------------------------------------------------------- */
@-webkit-keyframes dip {
  0%, 100% {
    -webkit-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

@-moz-keyframes dip {
  0%, 100% {
    -moz-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

@-o-keyframes dip {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

@keyframes dip {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

.dip {
  -webkit-animation-name: dip;
  -moz-animation-name: dip;
  -o-animation-name: dip;
  animation-name: dip; }

/* Man Made It / Stars Fall
-------------------------------------------------------- */
@-webkit-keyframes drop {
  0%, 100% {
    -webkit-transform: translateY(0); }

  10% {
    -webkit-transform: translateY(-400px); }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.drop {
  -webkit-animation-name: drop;
  -moz-animation-name: drop;
  -o-animation-name: drop;
  animation-name: drop; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

/* Man Made It / Stars Twinkle
-------------------------------------------------------- */
@-moz-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@-o-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash; }

/* Redbox / Tickets Fade In
-------------------------------------------------------- */
@-webkit-keyframes fall {
  0%, 50% {
    -webkit-transform: translateY(0); }

  10% {
    -webkit-transform: translateY(-30px); }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fall {
  -webkit-animation-name: fall;
  -moz-animation-name: fall;
  -o-animation-name: fall;
  animation-name: fall; }

/* Sparkart / Vortex Rotates
-------------------------------------------------------- */
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes reverse-orbit {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }

.vortex {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 25s; }

/* nirajpatil.com - Index
-------------------------------------------------------- */
/* Niraj Patil - Mixins
-------------------------------------------------------- */
/* Retina Image-Ready Mixin 
-------------------------------------------------------- */
/* Clearfix
-------------------------------------------------------- */
/* Niraj Patil - Color Guide
-------------------------------------------------------- */
/* Foundation */
/* Issues App */
/* TRNIO App */
/* Redbox Tickets */
/* Man Made It */
/* Sparkart */
/* Niraj Patil - Fanciness
-------------------------------------------------------- */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

/* Logo
-------------------------------------------------------- */
@-webkit-keyframes dip {
  0%, 100% {
    -webkit-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

@-moz-keyframes dip {
  0%, 100% {
    -moz-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

@-o-keyframes dip {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

@keyframes dip {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }

  20% {
    -webkit-transform: translateY(30px); } }

.dip {
  -webkit-animation-name: dip;
  -moz-animation-name: dip;
  -o-animation-name: dip;
  animation-name: dip; }

/* Man Made It / Stars Fall
-------------------------------------------------------- */
@-webkit-keyframes drop {
  0%, 100% {
    -webkit-transform: translateY(0); }

  10% {
    -webkit-transform: translateY(-400px); }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.drop {
  -webkit-animation-name: drop;
  -moz-animation-name: drop;
  -o-animation-name: drop;
  animation-name: drop; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

/* Man Made It / Stars Twinkle
-------------------------------------------------------- */
@-moz-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@-o-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash; }

/* Redbox / Tickets Fade In
-------------------------------------------------------- */
@-webkit-keyframes fall {
  0%, 50% {
    -webkit-transform: translateY(0); }

  10% {
    -webkit-transform: translateY(-30px); }

  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fall {
  -webkit-animation-name: fall;
  -moz-animation-name: fall;
  -o-animation-name: fall;
  animation-name: fall; }

/* Sparkart / Vortex Rotates
-------------------------------------------------------- */
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes reverse-orbit {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }

.vortex {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 25s; }

/* Notes
-------------------------------------------------------- */
.notes {
  float: right;
  width: 440px;
  margin-top: 150px;
  position: relative;
  z-index: 5; }
  .notes h3 {
    margin: 0 0 10px; }
  .notes p {
    margin: 0 0 10px 0; }
  .notes small {
    font: normal 14px/22px CallunaRegular, Georgia, serif; }

/* Issues
-------------------------------------------------------- */
.issues {
  background: #fdfde2; }
  .issues .content .iphone {
    float: left;
    margin: 58px 15px 0 20px;
    width: 324px;
    height: 542px;
    background: url("../images/page-index/img-issues.png") no-repeat top left; }
  .issues .content .notes {
    margin-top: 240px; }
    .issues .content .notes p, .issues .content .notes a, .issues .content .notes small {
      color: #d37800; }

/* Redbox
-------------------------------------------------------- */
.redbox {
  background: #d0fffc; }
  .redbox .content .kiosk {
    display: block;
    float: left;
    margin: 50px 15px 0 20px;
    width: 324px;
    height: 498px;
    background: url("../images/page-index/img-redbox.png") no-repeat; }
  .redbox .content .notes {
    margin-top: 200px; }
    .redbox .content .notes p, .redbox .content .notes a, .redbox .content .notes small {
      color: #1a9c99; }

/* Man Made It
-------------------------------------------------------- */
.manmadeit .sky {
  width: 100%;
  height: 600px;
  background: #f6f6f4 url("../images/page-index/bg-manmadeit.png") bottom center no-repeat;
  clear: both; }
  .manmadeit .sky .stars .star {
    position: absolute;
    -webkit-animation-iteration-count: infinite; }
    .manmadeit .sky .stars .star.father.flash {
      width: 10px;
      height: 10px;
      border-radius: 10px; }
    .manmadeit .sky .stars .star.mother.flash {
      width: 10px;
      height: 10px;
      border-radius: 10px; }
    .manmadeit .sky .stars .star.son.flash {
      width: 5px;
      height: 5px;
      border-radius: 5px; }
    .manmadeit .sky .stars .star.daughter.flash {
      width: 3px;
      height: 3px;
      border-radius: 3px; }
    .manmadeit .sky .stars .star.pet.flash {
      width: 3px;
      height: 3px;
      border-radius: 3px; }
  .manmadeit .sky .stars.front .star {
    background: #efd4b9; }
    .manmadeit .sky .stars.front .star.father.flash {
      top: 475px;
      left: 800px;
      -webkit-animation-duration: 15s; }
    .manmadeit .sky .stars.front .star.mother.flash {
      top: 200px;
      right: 150px;
      -webkit-animation-duration: 5s; }
    .manmadeit .sky .stars.front .star.son.flash {
      top: 350px;
      right: 450px;
      -webkit-animation-duration: 8s; }
    .manmadeit .sky .stars.front .star.daughter.flash {
      top: 350px;
      right: 450px;
      -webkit-animation-duration: 8s; }
    .manmadeit .sky .stars.front .star.pet.flash {
      top: 100px;
      left: 400px;
      -webkit-animation-duration: 10s; }
  .manmadeit .sky .stars.back .star {
    background: white; }
    .manmadeit .sky .stars.back .star.father.flash {
      top: 20px;
      left: 300px;
      -webkit-animation-duration: 5s; }
    .manmadeit .sky .stars.back .star.mother.flash {
      top: 300px;
      right: 600px;
      -webkit-animation-duration: 8s; }
    .manmadeit .sky .stars.back .star.son.flash {
      top: 400px;
      right: 730px;
      -webkit-animation-duration: 5s; }
    .manmadeit .sky .stars.back .star.daughter.flash {
      top: 350px;
      right: 450px;
      -webkit-animation-duration: 8s; }
    .manmadeit .sky .stars.back .star.pet.flash {
      top: 150px;
      left: 900px;
      -webkit-animation-duration: 15s; }
  .manmadeit .sky h3, .manmadeit .sky p, .manmadeit .sky a, .manmadeit .sky small {
    color: #282220; }
  .manmadeit .sky .manmadeit_logo {
    float: left;
    width: 324px;
    height: 324px;
    display: block;
    background: url("../images/page-index/img-manmadeit.png") no-repeat;
    text-indent: -5000px;
    margin: 100px 100px 0 10px; }

/* Sparkart
-------------------------------------------------------- */
.sparkart {
  background: #ffefab; }
  .sparkart .vortex {
    float: left;
    margin: 80px 0 0 0;
    width: 360px;
    height: 360px;
    background: url("../images/page-index/img-vortex.png") no-repeat; }

/* Hello 
-------------------------------------------------------- */
#page-helpline .logo a {
  background-position: 0 -110px; }

/* Helpline Introduction
-------------------------------------------------------- */
.mission {
  background: url("../images/page-helpline/helpinghands.png") no-repeat top right;
  height: 440px;
  padding: 40px 0; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .mission {
      /* on retina, use image thats scaled by 2 */
      background-image: url("helpinghands@2x.png");
      background-size: 1750px 1042px; } }
  .mission .content {
    padding: 0 20px; }
    .mission .content .notes {
      float: left; }
      .mission .content .notes p {
        color: #707070; }

/* Helpline
-------------------------------------------------------- */
.helpline {
  height: auto; }
  .helpline .content {
    padding: 40px 20px; }
    .helpline .content .group {
      width: 100%;
      display: inline-block;
      clear: both;
      margin-bottom: 50px; }
      .helpline .content .group h3 {
        margin: 0;
        color: #ec443b; }
      .helpline .content .group h4 {
        margin-bottom: 5px; }
      .helpline .content .group ul {
        width: 33.33%;
        margin: 0 0 30px 0;
        display: block;
        float: left;
        padding: 0 40px 0 0;
        list-style-type: none; }
        .helpline .content .group ul:nth-of-type(3n+1) {
          clear: left; }
        .helpline .content .group ul li {
          list-style-type: none;
          padding: 0;
          margin: 0 0 3px 0; }
          .helpline .content .group ul li:first-child {
            border-bottom: 1px solid black;
            margin-bottom: 10px; }
          .helpline .content .group ul li a {
            text-decoration: none; }

.bye {
  clear: left; }
