/* nirajpatil.com - Index
-------------------------------------------------------- */

@import "mixins.scss";
@import "colors.scss";
@import "fanciness.scss";

/* Notes
-------------------------------------------------------- */

.notes {
	float: right;
	width: 440px;
	margin-top: 100px;
	position: relative;
	z-index: 5;

	h3 {
		margin: 0 0 10px;
	}

	p {
		margin-top: 0;
	}

	small {
		font: normal 14px/22px CallunaRegular, Georgia, serif;
	}
}

/* Hello
-------------------------------------------------------- */

.hello {
	background: $library;
}

/* Issues
-------------------------------------------------------- */

.issues {
	background: $library;
	position: relative;
	z-index: 3;


	.content {

		overflow: hidden;
		position: relative;
		z-index: 9;

		.iphone {
			float: left;
			margin: 100px 15px 0 0;
			width: 323px;
			height: 632px;
			background: url("../images/work/issues/issues.png") no-repeat;
		}

		.notes {

			p, a, small {
				color: $library-text;
			}
		}
	}
}


/* Redbox
-------------------------------------------------------- */

.redbox {
	background: $floor;
	z-index: 3;
	overflow: hidden;

	.content {

		.kiosk {
			display: block;
			float: left;
			margin: 100px 15px 0 0;
			width: 148px;
			height: 232px;
			background: url("../images/work/redbox/kiosk.png") no-repeat;
		}

		.notes {
			margin-top: 100px;

			p, a, small {
				color: $floor-text;
			}
		}
	}
}


/* Man Made It
-------------------------------------------------------- */

.manmadeit {
	z-index: 5;

	.sky {
		width: 100%;
		height: 500px;
		background-color: $sky;
		clear: both;
		background-image: url("../images/work/manmadeit/goldengate.png");
		background-position: bottom center;
		background-repeat: no-repeat;
		position: relative;

		.stars {

			opacity: 0;

			.star {
				position: absolute;
				-webkit-animation-iteration-count: infinite;

				&.father.flash {
					width: 10px;
					height: 10px;
					border-radius: 10px;
				}

				&.mother.flash {
					width: 10px;
					height: 10px;
					border-radius: 10px;
				}

				&.son.flash {
					width: 5px;
					height: 5px;
					border-radius: 5px;				
				}

				&.daughter.flash {
					width: 3px;
					height: 3px;
					border-radius: 3px;
				}				

				&.pet.flash {
					width: 3px;
					height: 3px;
					border-radius: 3px;
				}
			}

			&.front {

				.star {
					background: $star;

					&.father.flash {
						top: 475px;
						left: 800px;
						-webkit-animation-duration: 15s; 
					}

					&.mother.flash {
						top: 200px;
						right: 150px;
						-webkit-animation-duration: 5s; 
					}

					&.son.flash {
						top: 350px;
						right: 450px;
						-webkit-animation-duration: 8s; 
					}

					&.daughter.flash {
						top: 350px;
						right: 450px;
						-webkit-animation-duration: 8s; 
					}

					&.pet.flash {
						top: 100px;
						left: 400px;
						-webkit-animation-duration: 10s; 
					}
				}
			}

			&.back {

				.star {
					background: lighten($star, 20%);

					&.father.flash {
						top: 20px;
						left: 300px;
						-webkit-animation-duration: 5s; 
					}

					&.mother.flash {
						top: 300px;
						right: 600px;
						-webkit-animation-duration: 8s; 
					}

					&.son.flash {
						top: 400px;
						right: 750px;
						-webkit-animation-duration: 5s; 
					}

					&.daughter.flash {
						top: 350px;
						right: 450px;
						-webkit-animation-duration: 8s; 
					}

					&.pet.flash {
						top: 150px;
						left: 900px;
						-webkit-animation-duration: 15s; 
					}
				}
			}

		}

		.notes {
			h3, p {
				color: #ffffff;
			}

			p, a, small {
				color: lighten($star, 25%);
			}
		}

		.zeppelin {
			float: left;
			width: 179px;
			height: 45px;
			display: block;
			background: url("../images/work/manmadeit/zeppelin.png") no-repeat;
			text-indent: -5000px;
			margin: 100px 100px 0 0; 
		}
	}
}


/* Sparkart
-------------------------------------------------------- */

.sparkart {
	background: $universe;
	z-index: 4;

	.vortex {
		float: left;
		margin: 80px 0 0 0;
		width: 360px;
		height: 360px;
		background: url("../images/work/sparkart/vortex.png") no-repeat;
	}
}