/* nirajpatil.com - Layout
-------------------------------------------------------- */
/* Niraj Patil - Mixins
-------------------------------------------------------- */
/* Retina Image-Ready Mixin 
-------------------------------------------------------- */
/* Clearfix
-------------------------------------------------------- */
/* Niraj Patil - Color Guide
-------------------------------------------------------- */
/* Foundation */
/* Issues App */
/* TRNIO App */
/* Redbox Tickets */
/* Man Made It */
/* Sparkart */
/* Base
-------------------------------------------------------- */
body {
  overflow-x: hidden;
  font: normal 14px/21px Georgia, Serif; }

/* Typography
-------------------------------------------------------- */
p {
  font: normal 22px/32px CallunaRegular, Arial, Serif;
  color: black; }

a {
  color: black;
  text-decoration: underline; }

h3 {
  font: bold 18px/21px CallunaRegular, Arial, Serif;
  text-transform: uppercase; }

h4 {
  font: bold 14px/21px CallunaRegular, Arial, Serif;
  text-transform: uppercase; }

/* Fonts
-------------------------------------------------------- */
/* Symbolset */
@font-face {
  font-family: "SSStandard";
  src: url("../fonts/ss-standard.eot");
  src: url("../fonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("../fonts/ss-standard.woff") format("woff"), url("../fonts/ss-standard.ttf") format("truetype"), url("../fonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal; }

.ss-icon, .ss-icon.ss-standard,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

/* Calluna */
@font-face {
  font-family: 'CallunaRegular';
  src: url("../fonts/Calluna-Regular-webfont.eot");
  src: url("../fonts/Calluna-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Calluna-Regular-webfont.woff") format("woff"), url("../fonts/Calluna-Regular-webfont.ttf") format("truetype"), url("../fonts/Calluna-Regular-webfont.svg#CallunaRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Section
-------------------------------------------------------- */
section {
  position: relative;
  height: 600px; }
  section .content {
    width: 900px;
    margin: 0 auto; }

section.about,
section.bye {
  height: auto; }
  section.about .content,
  section.bye .content {
    width: 716px; }

/* Header
-------------------------------------------------------- */
.hello {
  height: 130px; }
  .hello .header {
    width: 900px;
    margin: 0 auto;
    padding: 20px 20px; }
    .hello .header .logo {
      width: 50px;
      height: 58px;
      display: block;
      text-indent: -5000px;
      background: url("../images/layout/logo.png") no-repeat top left;
      float: left;
      margin: 15px 20px 0 0; }
    .hello .header h1 {
      font: normal 28px/34px CallunaRegular, Georgia, Serif;
      margin: 10px 0; }
    .hello .header nav li {
      font: normal 22px/24px CallunaRegular, Georgia, Serif;
      list-style-type: none;
      float: left;
      margin-right: 24px;
      color: #707070; }
      .hello .header nav li a {
        text-decoration: none; }

#page-index .hello {
  background: #fdfde2; }

#page-trnio .hello {
  background: #f4f4f4; }

#page-sparkart .hello {
  background: #ffefab; }

/* Footer
-------------------------------------------------------- */
.bye {
  height: 300px;
  padding: 100px 0;
  text-align: left;
  clear: both; }
  .bye h3 {
    text-align: left; }
  .bye ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .bye ul a {
      text-decoration: none; }
      .bye ul a:hover {
        color: #4fb4ea; }
