/* nirajpatil.com - Layout
-------------------------------------------------------- */

@import "mixins.scss";
@import "colors.scss";


/* Base
-------------------------------------------------------- */

body {
	overflow-x: hidden;
	font: normal 14px/21px Georgia, Serif;
	}


/* Typography
-------------------------------------------------------- */

p {
	font: normal 14px/21px Helvetica, Arial, Serif;
}

a {
	color: $black;
	text-decoration: underline;
}

h3 {
	font: bold 18px/21px Helvetica, Arial, sans-serif;
}

h4 {
	font: bold 14px/21px Helvetica, Arial, sans-serif;
}


/* Fonts
-------------------------------------------------------- */

/* Symbolset */

@font-face {
  font-family: "SSStandard";
  src: url('../fonts/ss-standard.eot');
  src: url('../fonts/ss-standard.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/ss-standard.woff') format('woff'), 
       url('../fonts/ss-standard.ttf')  format('truetype'),
       url('../fonts/ss-standard.svg#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-icon, .ss-icon.ss-standard,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
	font-family: "SSStandard";
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

/* Calluna */
 
@font-face {
    font-family: 'CallunaRegular';
    src: url('../fonts/Calluna-Regular-webfont.eot');
    src: url('../fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calluna-Regular-webfont.woff') format('woff'),
         url('../fonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Header
-------------------------------------------------------- */

.hello {
	height: 130px;

	.header {
			width: 900px;
			margin: 0 auto;
			padding: 20px 20px;

		.logo {
			float: left;
			margin-right: 15px;
			width: 64px;
			height: 110px;
			display: block;
			text-indent: -5000px;
			background: url("../images/layout/logo.png") no-repeat;
			@include image-2x("logo@2x.png", 128px, 220px);
		}

		h1 {
			font: normal 28px/34px CallunaRegular, Georgia, Serif;
		}

		nav {

			li {
				font: normal 22px/24px CallunaRegular, Georgia, Serif;
				list-style-type: none;
				float: left;
				margin-right: 20px;

				a {
					text-decoration: none;
				}
			}
		}
	}
}

/* Footer
-------------------------------------------------------- */

.bye {
	height: 300px;
	text-align: left;

	h3 {
		padding-top: 100px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		a {
			text-decoration: none;
			color: $copy;

			&:hover {
				color: lighten($linkedin, 20%);
			}

		}
	}
}

/* About
-------------------------------------------------------- */



/* Work
-------------------------------------------------------- */

.work {

	width: 100%;
	height: auto;

	&.manmadeit {
		background: #F6F6F4;
	}

	.content {

		.introduction {
			width: 600px;
			padding-top: 20px;
			margin: 0 0 40px 100px;
		}

	}

	img {
		width: 940px;
		margin-bottom: 40px;
	}
	
}

