/* Niraj Patil - Mixins
-------------------------------------------------------- */


/* Grid */

$grid-columns: 16;
$gutter-width: 10px;

@mixin column($columns) {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @if $columns == 16 {

        width: 100%;

    } @else {

        width: 100% / $grid-columns * $columns;
        margin: 0 auto;

    }
}

/* Images */

@mixin image($columns) {

    width: 100% / $grid-columns * $columns;
    padding: 0;
    margin: 0 auto 6em 0;

    @media only screen and (min-width: 320px) and (max-width: 460px) {
        margin: 0 auto 3em 0;
    }
}


/* Reset */

@mixin reset($element: base) {

    margin: 0;
    padding: 0;

    @if $element == button {

        outline: none;
        border: 0;

        &::-moz-focus-inner {
            border: 0;
        }

        -webkit-appearance: none;

    } @else if $element == link {

        outline: none;
        text-decoration: none;

        img {
            border: 0;
        }

    } @else if $element == list {

        list-style-type: none;
		margin: 0;
		padding: 0;

        > li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

    } @else if $element == definition-list {

        dt, dd { 
			margin: 0;
			-webkit-margin-start: 0;
		}
    }
}
    

/* Background Transition */

@mixin backgroundtransition() {

	-webkit-transition-property: color, background, border-color; 
	-webkit-transition-duration: 0.5s, 0.5s; 
	-webkit-transition-timing-function: linear, ease-in;

}

/* Fade Out Transition */

@mixin fade-transition() {

    -webkit-transition-property: opacity; 
    -webkit-transition-duration: 0.8s, 0.8s; 
    -webkit-transition-timing-function: linear, ease-in;

}

/* Clearfix */

@mixin clearfix() {
    
    *zoom:1;
    &:before,
    &:after {
        content:"";
        display:table;
    }
    
    &:after {
        clear:both;
    }
}


/* Breakpoints */

@mixin breakpoint($point) {

    @if $point == mother {
        @media (max-width: 949px) { @content; }
    }

    @if $point == daughter {
        @media (max-width: 565px) { @content; }
    }

    @else if $point == son {
        @media (max-width: 460px)  { @content; }
    }
}


/* Typography */

@mixin section-intro() {

    > p {
        font-family: "ff-meta-web-pro", Georgia, serif;
        font-size: 1.125em;
        line-height: 1.685em;
        text-align: left;
        margin: 0 0 1.5em 0;
        padding: 0;
        
        &:last-child {
            margin-bottom: 6em;
        }

        @media only screen and (min-width: 320px) and (max-width: 460px) {
            font-size: 1em;
            line-height: 1.5em;

            &:last-child {
                margin-bottom: 3em;
            }   
        }
    }
}

.quote {
    font-size: 0.9em;
    line-height: 1.3em;
    font-weight: normal;
}

.navigation {
    font-size: 0.9em;
    line-height: 1.3em;
}

.aside {
    font-size: 0.8em;
    line-height: 1.2em;
}

.intro {
    @include section-intro();
}

