/* nirajpatil.com - Work
-------------------------------------------------------- */
/* Niraj Patil - Mixins
-------------------------------------------------------- */
/* Retina Image-Ready Mixin 
-------------------------------------------------------- */
/* Clearfix
-------------------------------------------------------- */
/* Niraj Patil - Color Guide
-------------------------------------------------------- */
/* Foundation */
/* Issues App */
/* TRNIO App */
/* Redbox Tickets */
/* Man Made It */
/* Sparkart */
/* Work
-------------------------------------------------------- */
body.work section {
  width: 100%;
  height: auto;
  clear: both;
  margin-bottom: 100px; }
  body.work section h3 {
    text-align: center;
    padding-bottom: 60px; }
  body.work section .content {
    width: 900px; }
  body.work section.logo {
    padding: 0 0 100px; }
    body.work section.logo img {
      margin: 0 auto;
      display: block; }
    body.work section.logo.redbox {
      padding: 0; }
  body.work section.introduction.issues .content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' ); }
  body.work section.introduction.issues .image {
    float: left; }
  body.work section.introduction.issues .copy {
    width: 440px;
    float: right; }
    body.work section.introduction.issues .copy h3 {
      text-align: left;
      padding: 0; }
  body.work section.introduction.redbox .copy {
    width: 716px;
    padding: 0 92px;
    text-align: center; }
  body.work section.collection.issues {
    background: url("../images/work/issues/bg-collection.jpg") center 100px no-repeat;
    height: 1330px; }
  body.work section.collection.redbox img {
    width: 900px;
    margin-bottom: 80px; }
  body.work section.collection.redbox .last {
    margin-bottom: 0; }
  body.work section.collection.manmadeit img {
    width: 900px;
    margin-bottom: 80px; }
  body.work section.interface .content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    margin-bottom: 100px;
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' ); }
  body.work section.interface .content .copy {
    width: 256px; }
    body.work section.interface .content .copy h4 {
      margin-top: 0; }
  body.work section.interface .content .one.copy {
    float: left; }
  body.work section.interface .content .one.image {
    float: right; }
  body.work section.interface .content .two.copy {
    float: right; }
  body.work section.interface .content .two.image {
    float: left; }
  body.work section.interface .two.content:after {
    margin-bottom: 0; }
  body.work section.website {
    background: url("../images/work/issues/bg-website.jpg") top center no-repeat;
    padding: 100px 0; }
    body.work section.website .copy {
      text-align: center; }
      body.work section.website .copy h3 {
        padding: 0; }

/* Issues */
#page-issues .background {
  background: #fdfde2 url(../images/work/issues/bg-bars.png) top center no-repeat;
  position: relative; }
#page-issues section.bye {
  color: black;
  padding: 0; }
  #page-issues section.bye h3 {
    text-align: left;
    padding-bottom: 0; }
  #page-issues section.bye a {
    color: black; }

/* Redbox Tickets */
#page-redbox {
  background: #A4172D; }
  #page-redbox .background {
    background: #d0fffc; }
  #page-redbox .redbox h3,
  #page-redbox .redbox p {
    color: white; }
  #page-redbox .copy {
    width: 808px;
    padding: 0 0 0 92px;
    text-align: center; }
    #page-redbox .copy h3.assist {
      padding: 0; }
  #page-redbox section.bye {
    color: white;
    padding: 0; }
    #page-redbox section.bye h3 {
      text-align: left;
      padding-bottom: 0; }
    #page-redbox section.bye a {
      color: white; }

/* Man Made It */
#page-manmadeit {
  background: #f6f6f4; }
  #page-manmadeit .background {
    background: #eddfce; }
  #page-manmadeit .copy {
    width: 808px;
    padding: 0 0 0 92px;
    text-align: center; }
    #page-manmadeit .copy h3.assist {
      padding: 0; }
  #page-manmadeit section.bye {
    padding: 0; }
    #page-manmadeit section.bye h3 {
      text-align: left;
      padding-bottom: 0; }
