/* nirajpatil.com - Work
-------------------------------------------------------- */

@import "mixins.scss";
@import "colors.scss";


/* Work
-------------------------------------------------------- */

body.work {

	section {
		width: 100%;
		height: auto;
		clear: both;

		&.header {
			padding: 60px 0 100px;

			.content {
				width: 900px;

				img {
					margin: 0 auto;
					display: block;
				}
			}
		}

		h3 {
			text-align: center;
			padding-bottom: 60px;
		}

		.content {
			width: 900px;

			h3 {
				text-align: left;
				padding-bottom: 0;
			}

			.image.left {
				float: left;
			}

			.image.right {
				float: right;
			}

			.copy.left {
				width: 440px;
				float: left;
			}

			.copy.right {
				width: 440px;
				float: right;
			}
		}

		&.introduction {
			padding: 100px 0 60px;
		}

		&.screens {
			clear: both;
			padding: 60px 0;

			.image {
				width: 1500px;
				margin-left: -120px;
			}
		}
	}
}

/* Issues */

#page-issues .header {
	background-color: $issues-background;
}
